header {
  background-color: #333;
  color:white;
  text-align: center;
  padding: 15px;
  font-size: 18px
}
body {
  width:2500px;
}
 main > h1 {
   background-color: skyblue;
   text-align: center;
 }
.columns {
  background-color: pink;
  text-align: center;
  display:flex;
}
.column {
    border: solid red 5px;
}

footer  {
  background-color: #333;
  color:white;
  text-align: center;
  padding: 12px;
  font-size: 18px
}
